<?xml version="1.0" encoding="Windows-1252"?>
<Settings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" CarInstances="200" GenerationSize="200" SequenceLength="15" GeneDuration="15">
  <FileLocation>settings.xml</FileLocation>
  <Genes>
    <Gene>GeneA</Gene>
    <Gene>GeneB</Gene>
    <Gene>GeneC</Gene>
    <Gene>GeneD</Gene>
    <Gene>GeneE</Gene>
  </Genes>
  <SelectedGenes>
    <Setting>GeneA</Setting>
    <Setting>GeneB</Setting>
    <Setting>GeneC</Setting>
    <Setting>GeneD</Setting>
    <Setting>GeneE</Setting>
  </SelectedGenes>
  <Initializers>
    <Initializer>AInit</Initializer>
    <Initializer>RandomInitializer</Initializer>
    <Initializer>RoundRobinInitializer</Initializer>
    <Initializer>StartAndEndOptimizedInitializer</Initializer>
  </Initializers>
  <SelectedInitializer>StartAndEndOptimizedInitializer</SelectedInitializer>
  <FitnessFunctions>
    <FitnessFunctions>DummyFitness</FitnessFunctions>
    <FitnessFunctions>TeamD_GelbFitness</FitnessFunctions>
  </FitnessFunctions>
  <SelectedFitnessFunction>TeamD_GelbFitness</SelectedFitnessFunction>
  <Selectors>
    <Selector>DummySelector</Selector>
    <Selector>RandomSelector</Selector>
    <Selector>ThresholdSelector</Selector>
    <Selector>TournamentSelector</Selector>
  </Selectors>
  <SelectedSelector>ThresholdSelector</SelectedSelector>
  <Recombiners>
    <Recombiner>DummyRecombiner</Recombiner>
  </Recombiners>
  <SelectedRecombiner>DummyRecombiner</SelectedRecombiner>
  <Mutators>
    <Mutator>DummyMutator</Mutator>
  </Mutators>
  <SelectedMutator>DummyMutator</SelectedMutator>
  <Terminators>
    <Terminator>DummyTerminator</Terminator>
    <Terminator>NinetyFivePercentTerminator</Terminator>
    <Terminator>TestTerm</Terminator>
  </Terminators>
  <SelectedTerminator>NinetyFivePercentTerminator</SelectedTerminator>
</Settings>